Tuples
A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

Ordered
Unchangeble
Allows duplicate

#Creating Tuples

In [1]:
# empty
t1 = ()
print(t1)
# create a tuple with a single item
t2 = ('hello',)
print(t2)
print(type(t2))
# homo
t3 = (1,2,3,4)
print(t3)
# hetro
t4 = (1,2.5,True,[1,2,3])
print(t4)
# tuple
t5 = (1,2,3,(4,5))
print(t5)
# using type conversion
t6 = tuple('hello')
print(t6)

()
('hello',)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

#in tuples we can not add or edit or delte any part of the tuple but we can only delte the whole tuple

Accessing Items
Indexing
Slicing

In [2]:
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4)
1
4

Operations on Tuples

In [3]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

print(t1*3)
# membership
1 in t1
# iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

Tuple Functions

In [4]:
# len/sum/min/max/sorted
t = (1,2,3,4)
len(t)

sum(t)

min(t)

max(t)

sorted(t,reverse=True)

[4, 3, 2, 1]

In [7]:
#count and indexing are two functions which are specific to tuple
# count

t = (1,2,3,4,5)

t.count(5)
# index
t.index(5)

4

Difference between Lists and Tuples
Syntax
Mutability
Speed
Memory
Built in functionality
Error prone
Usability

In [9]:
import time 

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 8.079966068267822
Tuple time 8.132357120513916

In [10]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [11]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [12]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

In [13]:
#Special Syntax
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [14]:
#swaping
a = 1
b = 2
a,b = b,a

print(a,b)

2 1

In [15]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

#Sets
A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:

Unordered
Mutable
No Duplicates
Can't contain mutable data types

In [18]:
# empty
s = set()
print(s)
print(type(s))
# 1D and 2D
s1 = {1,2,3}
print(s1)
#s2 = {1,2,3,{4,5}}
#print(s2)
# homo and hetro
s3 = {1,'hello',4.5,(1,2,3)}
print(s3)
# using type conversion

s4 = set([1,2,3])
print(s4)
# duplicates not allowed
s5 = {1,1,2,2,3,3}
print(s5)
# set can't have mutable items
#s6 = {1,2,[3,4]}
#print(s6)

set()
<class 'set'>
{1, 2, 3}
{1, (1, 2, 3), 4.5, 'hello'}
{1, 2, 3}
{1, 2, 3}

we can not access the set by using the index item the reason is that set is unorderd so we can not acces it by using index,so we are also not able to do slicing and editing

#adding items we are able to add new atoms in the set.By using add we are able to add only one atoms in the list but by using update functions we are able to add more atoms in the sets.

In [22]:
S = {1,2,3,4}
# add
S.add(5)
print(S)
# update
S.update([5,6,7])
print(S)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

In [23]:
#in del keywords we are able to del the complete set but can not del the part of the list
#in discard we tell that we want to del which atom
#remove will also work like discard but if we want to remove any atoms which is not in list it will show us error but the discard wil not show the error it is main differnce between these both
#pop will delete random atoms
#clear will clear all the list
# del
s = {1,2,3,4,5}
# print(s)
# del s[0]
# print(s)
# discard
# s.discard(50)
# print(s)
# remove
# s.remove(50)
# print(s)
# pop
# s.pop()
# clear
s.clear()
print(s)

set()

In [24]:
#set operatin
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1 | s2
# Union(|)
# Intersection(&)
s1 & s2
# Difference(-)
s1 - s2
s2 - s1
# Symmetric Difference(^)
s1 ^ s2
# Membership Test
1 not in s1
# Iteration
for i in s1:
  print(i)

1
2
3
4
5

In [25]:
#set function
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
len(s)
sum(s)
min(s)
max(s)
sorted(s,reverse=True)

[7, 5, 4, 3, 2, 1]

In [29]:
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

#s1 | s2
s1.union(s2)

s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [31]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [35]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [36]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
s2 = {7,8,5,6}

s1.isdisjoint(s2)

2
[6, 5, 4, 3, 2, 1]

In [38]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}
s2.issubset(s1)
s1.issuperset(s2)

True

In [39]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

In [40]:
# create frozenset
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [41]:
#Set Comprehension
# examples

{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

Dictionary
Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

Mutable
Indexing has no meaning
keys can't be duplicated
keys can't be mutable items

Create Dictionary

In [42]:
# empty dictionary
d = {}
d
# 1D dictionary
d1 = { 'name' : 'nitish' ,'gender' : 'male' }
d1
# with mixed keys
d2 = {(1,2,3):1,'hello':'world'}
d2
# 2D dictionary -> JSON
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
s
# using sequence and dict function
d4 = dict([('name','nitish'),('age',32),(3,3)])
d4
# duplicate keys
d5 = {'name':'nitish','name':'rahul'}
d5
# mutable items as keys
d6 = {'name':'nitish',(1,2,3):2}
print(d6)

{'name': 'nitish', (1, 2, 3): 2}

In [47]:
#Accessing items
my_dict = {'name': 'Jack', 'age': 26}
# []
my_dict['age']
# get
my_dict.get('age')

26

In [52]:
#Adding key-value pair
d4['gender'] = 'male'
d4




s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

In [45]:
#Remove key-value pair
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
# pop
#d.pop(3)
#print(d)
# popitem
#d.popitem()
# d.popitem()
# print(d)
# del
#del d['name']
#print(d)
# clear
d.clear()
print(d)

del s['subjects']['maths']
s

{}

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'english': 34, 'ds': 75}}

In [46]:
#Editing key-value pair
s['subjects']['dsa'] = 80
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

Dictionary Operations
Membership
Iteration

In [53]:
print(s)

'name' in s

{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

True

In [54]:
d = {'name':'nitish','gender':'male','age':33}

for i in d:
  print(i)

name
gender
age

In [56]:
#for accesing key and values in the dict both we will use this function
d = {'name':'nitish','gender':'male','age':33}

for i in d:
  print(i,d[i])

name nitish
gender male
age 33

Dictionary Functions

In [58]:
# len/sorted
len(d)
print(d)

max(d)

{'name': 'nitish', 'gender': 'male', 'age': 33}

'name'

In [60]:
sorted(d)

['age', 'gender', 'name']

In [63]:
# items/keys/values
print(d)

print(d.items())
print(d.keys())
print(d.values())

{'name': 'nitish', 'gender': 'male', 'age': 33}
dict_items([('name', 'nitish'), ('gender', 'male'), ('age', 33)])
dict_keys(['name', 'gender', 'age'])
dict_values(['nitish', 'male', 33])

Dictionary Comprehension

In [64]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,10)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [67]:
#converting the values in already availble dict
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
{keys:values*0.52 for (keys,values) in distances.items()}

{'delhi': 520.0, 'mumbai': 1040.0, 'bangalore': 1560.0}

In [70]:
# using zip crate a dictionary
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]
{i:j**2 for (i,j) in zip(days,temp_C)}

{'Sunday': 930.25,
 'Monday': 1062.76,
 'Tuesday': 1011.24,
 'Wednesday': 1115.56,
 'Thursday': 888.0400000000001,
 'Friday': 912.04,
 'Saturday': 894.0099999999999}

In [78]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}
{keys:values for (keys,values) in products.items() if values>0}

{'phone': 10, 'charger': 32}

In [84]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range (1,11)}for i in range (2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}